@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BOB MARLEY MUSIC</h1>
    <p>BOB MARLEY: THREE LITTLE BIRDS.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HNBCVM4KbUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    h2 {
        text-align: center;
    }
</style>

<h2>BOX ANIMATION</h2>

<p>
    <button onclick="myMove()">Click Me</button>
</p>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>

