@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BOB MARLEY MUSIC</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=HNBCVM4KbUM">BOB MARLEY: THREE LITTLE BIRDS</a>.</p>
</div>
<style>
    h2 {
        text-align: center;
    }
</style>

<h2>BOX ANIMATION</h2>

<p>
    <button onclick="myMove()">Click Me</button>
</p>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>

